.card__caption-link {
  color: #1698d9;
  padding: 0;
  border: none;
  background-color: transparent;
  text-decoration: underline dashed;
}

.card__caption-link:hover {
  cursor: pointer;
  color: #22a7e9;
}