.page {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Trebuchet MS", sans-serif;
  font-style: normal;
  margin: 0 auto;
  background-color: #000;
  background-position: center;
  background-size: cover;
  background-image: url('../../images/background.png');
  color: #fff;
}

@media screen and (min-width: 1023px) {
  .page {
    height: 100vh;
  }
}