.header__title {
  font-family: "Exo", sans-serif;
  font-weight: 100;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: #fff;
  text-shadow: 0px 1px 1px #000;
  padding-top: 36px;
  padding-bottom: 25px;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .header__title {
    max-width: 320px;
  }
}