.card__content {
  box-sizing: border-box;
  position: relative;
  padding-right: 20px;
  left: 4px;
  top: 4px;
  background-color: #f2f2f2;
  background: url('../../../images/cat.png') 50% 180% no-repeat,
              linear-gradient(135deg, transparent 30px, #f2f2f2 0) no-repeat;
  width: 312px;
  min-height: 472px;
  border-radius: 11px;
}

.card__content::before {
  content: '';
  position: absolute;
  width: 320px;
  left: -4px;
  top: -4px;
  min-height: 480px;
  border-radius: 12px;
  background-color: #2eA8e6;
  background: linear-gradient(135deg, transparent 31px, #2eA8e6 0);
  z-index: -1;
}