.card__content {
  position: relative;
  box-sizing: border-box;
  background-color: #f2f2f2;
  background-image: url('../../../images/cat.png');
  background-repeat: no-repeat;
  background-position: 60% 175%;
  width: 100%;
  height: 480px;
  border: 4px solid #1698d9;
  border-radius: 12px;
}

.card__content::before {
  position: absolute;
  content: '';
  top: -65px;
  left: -100px;
  width: 124px;
  height: 124px;
  overflow: hidden;
  transform: rotate(45deg);
  color: #fff;
  outline: 1px solid red;
}